:root {
    --dsf-body-text-color: #{$dark};
    --dsf-body-bg-color: #{$white};

    --dsf-btn-primary-color: #{$white};
    --dsf-btn-primary-bg: #{$green};
    --dsf-btn-primary-bg-hover: #{$green_light};

    --dsf-btn-secondary-color: #{$white};
    --dsf-btn-secondary-bg: #{$dark};

    --dsf-form-color: #{$dark};
    --dsf-form-bg: #{$white};
    --dsf-form-error-color: #{$red};
    --dsf-form-error-border: #{$red};
    --dsf-form-border-focus-color: #{$green};

    --dsf-body-font-size: #{$fs_base};
    --dsf-body-font-weight: #{$fw_normal};

    --dsf-h1-font-size: #{$h_1};
    --dsf-h2-font-size: #{$h_2};
    --dsf-h3-font-size: #{$h_3};
    --dsf-h4-font-size: #{$h_4};
    --dsf-h5-font-size: #{$h_5};
    --dsf-h6-font-size: #{$h_6};

    --dsf-h1-font-weight: #{$fw_medium};
    --dsf-h2-font-weight: #{$fw_medium};
    --dsf-h3-font-weight: #{$fw_medium};
    --dsf-h4-font-weight: #{$fw_normal};
    --dsf-h5-font-weight: #{$fw_normal};
    --dsf-h6-font-weight: #{$fw_light};
}
