@import 'foundation/all';

.dsf-text-xs {
    font-size: $fs_xs;
}

.dsf-text-sm {
    font-size: $fs_sm;
}

.dsf-text-base {
    font-size: $fs_base;
}

.dsf-text-lg {
    font-size: $fs_lg;
}

.dsf-text-xl {
    font-size: $fs_xl;
}
